<main class='index'>
    <div class='area-title'>
        <h1 id='title' class='title'><%- config.title %></h1>

        <p class='description'><%- config.description %></p>
    </div>

    <div class="content">
        <% if(!theme.wikiMode) { %>

            <%- partial('partial/posts', { posts: site.posts }) %>

        <% } else { %>
            
            <% site.categories.each(function(category, i) { %>
                <h2><%- titlecase(category.name) %></h2>

                <%- partial('partial/wikiPostsLine', { posts: category.posts }) %>

                <% if(i < site.categories.length - 1) { %>
                    <hr>
                <% } %>

            <% }) %>

        <% } %>
    </div>
</main>