<main>
    <div class='area-title home'>
        <h1 class='title'><%- __('title') %></h1>
        <p class='description'><%- __('description') %></p>
    </div>

    <div class='main-content <%- theme.wikiMode ? 'home-wiki' : '' %>'>
        <% if(!theme.wikiMode) { %>
            <%- partial('partial/posts', { posts: site.posts }) %>
        <% } else { %>
            <% site.categories.filter(category => category.posts.first().lang == page.lang).sort('name').each(category => { %>
                <%- partial('partial/wikiPostsCategory', { category }) %>
            <% }) %>
        <% } %>
    </div>
</main>
