<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>
        <%- config.title %>
        <%if (page.title != null && page.title.length > 0) { %>
        - <%- page.title %>
        <% } %>
    </title>

    <link rel='stylesheet' href='<%- url_for("/layout.css") %>'>

    <style>
        html {
            --primary-color: <%= theme.primaryColor %>;
            --secondary-color: <%= theme.secondaryColor %>;
            --text-light-color: <%= theme.textLightColor %>;
            --text-dark-color: <%= theme.textDarkColor %>;
            --background-light-color: <%= theme.backgroundLightColor %>;
            --background-dark-color: <%= theme.backgroundDarkColor %>;
        }
    </style>
</head>
<body>
    <% if(!is_home()) { %>
        <a href='/' class='home-button'>
            <i class='icon-home'></i>
        </a>
    <% } %>

    <%- partial('partial/menu') %>

    <%- body %>

    <footer>
        <p><%- config.footerText || __('footerText') %></p>

        <% if(!config.notShowRepo && config.repo != null) { %>
            <p><%= __('curiosityOfHowWasMade') %> <a href='<%- config.repo %>' target="_blank"><%= __('accessRepo') %></a></p>
        <% } %>

        <a href='#title' class='back-to-top'>
            <%= __('backToTop') %>
        </a>
    </footer>
</body>
</html>