<!DOCTYPE html>
<html lang='<%- page.lang %>'>
    <%- partial('partial/head') %>

    <body>
        <span id='top'></span>

        <%- partial('partial/homeButton') %>

        <%- partial('partial/menu') %>

        <%- body %>

        <%- partial('partial/footer') %>
    </body>
</html>
