<main class='post'>
    <%- partial('partial/areaTitlePost') %>
    
    <div class='main-content'>
        <%- partial('partial/linksToPostInAnotherLang') %>
        
        <%- partial('partial/tableOfContents') %>

        <%- page.content %>

        <%- partial('partial/postMusic') %>

        <%- partial('partial/changePartButtons') %>
    </div>
</main>
