<input id='menu' type='checkbox' hidden aria-hidden='true' tabindex='-1' />

<label for='menu' class='menu-button' aria-hidden='true' tabindex='-1'>
    <i class='icon-menu'></i>
    <i class='icon-close'></i>
</label>

<header class='menu'>
    <label for='menu' class='backdrop' aria-hidden='true' tabindex='-1'></label>

    <nav class='content'>
        <div class='area-logo' aria-hidden='true'>
            <div class='logo'>
                <img src='<%- url_for(theme.logo) %>' width='192' height='192'>
            </div>

            <p class='title'><%- config.title %></p>
        </div>

        <ul>
            <li>
                <a href='<%- url_for_lang('/') %>' class='link <%- is_home() && 'selected' %>'>
                    <i class='icon-home'></i>
                    <%= __('home') %>
                </a>
            </li>

            <% if(!theme.noFaq) { %>
                <li>
                    <a href='<%- url_for_lang('/faq.html') %>' class='link <%- page.title == 'faq' ? 'selected' : '' %>'>
                        <i class='icon-faq'></i>
                        <%- __('faq') %>
                    </a>
                </li>
            <% } %>

            <li>
                <a href='<%- url_for_lang('/tags.html') %>' class='link <%- page.title == 'tags' ? 'selected' : '' %>'>
                    <i class='icon-tags'></i>
                    Tags
                </a>
            </li>

            <li>
                <a href='<%- url_for(page.lang === 'en' ? '/pt' : '/') %>' class='link <%- page.title == 'tags' && 'selected' %>'>
                    <i class='icon-language'></i>
                    <%- page.lang === 'en' ? 'Português' : 'English' %>
                </a>
            </li>

            <input id='categories' type='checkbox' hidden aria-hidden='true' tabindex='-1' checked />

            <label for='categories' aria-label='Menu' class='link' aria-hidden='true' tabindex='-1'>
                <i class='icon-arrow'></i> <%- __('categories') %>
            </label>

            <% site.categories.filter(category => category.posts.first().lang == page.lang).each(category => { %>
                <li class='categories-item'>
                    <a href='<%- url_for_lang(category.path) %>' class='link group <%- page.category == category.name && 'selected' %>'>
                        <i class='icon-text'></i>
                        <%- titlecase(category.name) %>
                    </a>
                </li>
            <% }) %>
        </ul>
    </nav>
</header>
