<h2><%- __('tableOfContents') %></h2>

<ul class='parts'>
    <% site.posts.filter(post => post.title === page.title).each(post => { %>
        <li>
            <% if(post.part === page.part) { %>
                <span><%- __('part') %> <%- page.part %> - <%- page.synopsis %></span>
            <% } else { %>
                <a href='../<%- post.part %>'><%- __('part') %> <%- post.part %> - <%- post.synopsis %></a>
            <% } %>
        </li>
    <% }) %>
</ul>
